

body {
  font-family:monospace;
  margin: 0;
  padding: 0;
  font-weight: bolder;
}

.App {
  text-align: center;
}

header {
  background-color: pink;
  font-family:fantasy;
  color: black;
  padding: 20px 0;
}

.cart {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.merchandise-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 107, 132);
}

.product-image {
  width: 200px; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 5px; 
}

.cart-image {
  width: 24px; 
  height: 24px; 
  margin-right: 5px; }

.cart-price {
  font-weight: bold;
}

